<%- include("partials/header.ejs") %>

<div class="submitted-content" style="text-align:center; margin-top: 60px; margin-bottom: 60px;">
  <h1>Thank You <%= name %>!</h1>
  <p>Your message has been successfully submitted.</p>
  <a href="/" class="btn btn-primary mt-4">Return to Home</a>
</div>

<%- include("partials/footer.ejs") %>
